<form
    fsForm
    [submit]="submit">
  <fs-dialog>
    <form
        fsForm
        [submit]="submit"
        [dirtySubmitButton]="false">
      <h1 mat-dialog-title>
        Edit comment
      </h1>
      <mat-dialog-content>
        @if (taskComment) {
          <fs-html-editor
            class="comment"
            [required]="true"
            [(ngModel)]="taskComment.comment"
            [config]="htmlEditorConfig"
            name="comment">
          </fs-html-editor>
          <div class="fs-row.gap-xs.wrap">
            @for (taskFile of taskComment.taskFiles; track taskFile) {
              <fs-file-preview [url]="taskFile.file.preview.small">
                <ng-template
                    fs-file-preview-action
                    fs-file-preview-action
                    placement="top-right"
                    (click)="removeTaskFile(taskFile)"
                    tooltip="Remove">
                  <mat-icon>
                    close
                  </mat-icon>
                </ng-template>
              </fs-file-preview>
            }
            @for (fsFile of fsFiles; track fsFile) {
              <fs-file-preview [file]="fsFile">
                <ng-template
                    fs-file-preview-action
                    fs-file-preview-action
                    placement="top-right"
                    (click)="removeFile(fsFile)"
                    tooltip="Remove">
                  <mat-icon>
                    close
                  </mat-icon>
                </ng-template>
              </fs-file-preview>
            }
          </div>
        }
      </mat-dialog-content>
      <mat-dialog-actions>
        <button
            type="submit"
            mat-flat-button
            color="primary">
          Save
        </button>
        <button
            type="button"
            mat-stroked-button
            mat-dialog-close>
          Cancel
        </button>
        <fs-file
            class="attach-file"
            [multiple]="true"
            [orientate]="false"
            (select)="selectFiles($event)">
          <a mat-icon-button>
            <mat-icon>
              attach_file
            </mat-icon>
          </a>
        </fs-file>
      </mat-dialog-actions>
    </form>
  </fs-dialog>
</form>