<form
    fsForm
    [submit]="submit">
  <fs-dialog>
    <form
        fsForm
        [submit]="submit">
      <h1 mat-dialog-title>
        Edit Comment
      </h1>
      <mat-dialog-content>
        <fs-html-editor
          class="comment"
          [required]="true"
          [(ngModel)]="taskComment.comment"
          [config]="htmlEditorConfig"
          name="comment">
        </fs-html-editor>
      </mat-dialog-content>
      <mat-dialog-actions>
        <fs-form-dialog-actions
          [save]="true"
          [close]="true">
        </fs-form-dialog-actions>
      </mat-dialog-actions>
    </form>
  </fs-dialog>
</form>