.mention-account-menu-item {
  display: flex;
  align-items: center;

  img {
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

[data-mention] {
  background-color: #d4d4d4;
  border-radius: 20px;
  padding: 2px 8px;
  cursor: pointer;
  line-height: normal;
}