.card { 
  width: 30%;
  max-width: 250px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.notes {
  flex: 1;

  a {
    color: inherit;
  }
}

.activities {
  min-width: 450px;
}