<ng-container *fsSkeletonForm="crmLead">
  <div class="fs-row.align-start.gap-md">
    <div class="card">
      <app-crm-lead-summary-profile [crmLead]="crmLead"></app-crm-lead-summary-profile>
    </div>
    <div class="fs-row.align-start.gap-lg full-width">
      <div class="activities">
        <!-- <app-activities
          [heading]="'Activity'"
          [load]="loadActivities"
          [menuActions]="menuActions"
          [subjectObjectId]="crmLead.id">
        </app-activities> -->
      </div>
      <div class="notes">
        <h2>
          <div class="fs-row.justify-between">
            Tasks
            <!-- <a
                mat-icon-button
                (click)="summaryTasks.openTask({})">
              <mat-icon>
                add_circle_outline
              </mat-icon>
            </a> -->
          </div>
        </h2>
        <!-- <app-tasks
          #summaryTasks
          [crmLead]="crmLead">
        </app-tasks> -->
        <br>
        <br>
        <h2>
          <div class="fs-row.justify-between">
            Notes
            <a
                mat-icon-button
                (click)="crmNotes.openDialog({})">
              <mat-icon>
                add_circle_outline
              </mat-icon>
            </a>
          </div>
        </h2>
        <fs-crm-notes
          #crmNotes
          [objectId]="crmLead.id">
        </fs-crm-notes>
      </div>
    </div>
  </div>
</ng-container>