<fs-activities
    [apiPath]="[task.id, 'activities']"
    [actions]="actions">
  <ng-template
      fsActivityPreview
      [activityType]="'taskDueDate'"
      [showPrevious]="true"
      let-data="data">
    {{ (data.value | taskDueDate) || 'None' }}
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'taskPriority'"
      [showPrevious]="true"
      let-data="data">
    @if (data?.value) {
      <app-priority-chip
        [priority]="data.value"
        [showLabel]="true">
      </app-priority-chip>
    } @else {
      None
    }
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'taskStatus'"
      [showPrevious]="true"
      let-data="data">
    @if (data) {
      <app-task-status-chip [taskStatus]="data"></app-task-status-chip>
    } @else {
      None
    }
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'taskType'"
      [showPrevious]="true"
      let-data="data">
    @if (data) {
      <div class="fs-row.gap-xs">
        <app-task-type-chip [taskType]="data"></app-task-type-chip>
        {{ data.name }}
      </div>
    } @else {
      None
    }
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'taskAssignedAccount'"
      [showPrevious]="true"
      let-data="data">
    @if (data) {
      <div class="fs-row.gap-xs">
        @if (data.avatar) {
          <app-task-assigned-account-chip
            [assignedAccount]="data"
            [showTooltip]="false">
          </app-task-assigned-account-chip>
        }
        {{ data.name }}
      </div>
    } @else {
      None
    }
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'taskComment'"
      let-data="data">
    <div>
      @if (data?.comment) {
        <fs-html-renderer [html]="data.comment"></fs-html-renderer>
      }
      @if (data.taskFiles?.length) {
        <app-comment-gallery [taskComment]="data"></app-comment-gallery>
      }
    </div>
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'taskDescription'"
      let-data="data">
    <fs-html-renderer [html]="data.description"></fs-html-renderer>
  </ng-template>
</fs-activities>