<ng-container *fsSkeleton="crmLead">
  <h2 class="card-header">
    Profile
    <a
        mat-icon-button
        (click)="summaryProfileSettings()">
      <mat-icon>
        settings
      </mat-icon>
    </a>
  </h2>
  <fs-label-field>
    <fs-label>
      Email
    </fs-label>
    {{ crmLead.primaryEmailCrmChannel?.value || 'N/A' }}
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      Phone
    </fs-label>
    {{ (crmLead.primaryPhoneCrmChannel?.value | fsPhone) || 'N/A' }}
  </fs-label-field>
  <app-lead-status
    [(ngModel)]="crmLead.statusAttribute"
    name="statusAttribute"
    (ngModelChange)="statusAttributeChanged($event)"
    [initOnClick]="true">
  </app-lead-status>
  <app-lead-assigned-account
    [(ngModel)]="crmLead.assignedAccount"
    (ngModelChange)="assignedAccountChanged($event)"
    name="assignedAccount"
    [initOnClick]="true">
  </app-lead-assigned-account>
  <fs-attribute-autocomplete-chips
    name="attributeTags"
    class="attribute-tag"
    [initOnClick]="true"
    [floatLabel]="'always'"
    [placeholder]="'N/A'"
    [size]="'small'"
    [config]="tagAttributeConfig"
    [(ngModel)]="crmLead.tagAttributes"
    [showManage]="true"
    (ngModelChange)="tagAttributeChanged($event)"
    [saveOnChange]="false"
    label="Tags">
  </fs-attribute-autocomplete-chips>
  @for (field of fields; track field) {
    <fs-label-field>
      <fs-label>
        {{ field.label }}
      </fs-label>
      @if (crmLead.fields[field.guid]) {
        <!-- 
        
        <fs-field-view
          [field]="field"
          [data]="crmLead.fields[field.guid]">
        </fs-field-view> 
        
        -->
      }
    </fs-label-field>
  }
</ng-container>