<div
    cdkDropList
    [cdkDropListOrientation]="'vertical'"
    [cdkDropListLockAxis]="'y'"
    (cdkDropListDropped)="drop($event)">
  <ng-container *ngFor="let channel of channels; let index = index;">
    <div
        class="fs-row channel"
        cdkDrag>
      <div class="fs-row">
        <a
            mat-icon-button
            (click)="removeChannel(index)">
          <mat-icon>
            remove_circle_outline
          </mat-icon>
        </a>
        <mat-form-field class="form-field-padless field-label">
          <mat-select
              required
              [(ngModel)]="channel.label"
              (ngModelChange)="channelsChanged()"
              [name]="'label-' + channel.guid">
            <mat-option
                *ngFor="let label of labels"
                [value]="label">
              {{ label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <ng-container [ngSwitch]="type">
          <ng-container *ngSwitchCase="'email'">
            <mat-form-field class="form-field-padless field-value">
              <input
                matInput
                [required]="true"
                placeholder="Email"
                (ngModelChange)="channelsChanged()"
                [(ngModel)]="channel.value"
                [name]="'value-' + channel.guid">
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'phone'">
            <mat-form-field class="form-field-padless field-value">
              <input
                matInput
                [required]="true"
                fsPhoneField
                placeholder="Phone"
                (ngModelChange)="channelsChanged()"
                [(ngModel)]="channel.value"
                [name]="'value-' + channel.guid">
            </mat-form-field>
          </ng-container>
        </ng-container>
      </div>
      <div>
        <div
            cdkDragHandle
            class="drag-handle">
          <mat-icon>
            drag_indicator
          </mat-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="fs-row">
    <a
        mat-icon-button
        (click)="addChannel()">
      <mat-icon>
        add_circle_outline
      </mat-icon>
    </a>
    <a (click)="addChannel()">
      {{ 'Add ' + type }}
    </a>
  </div>
</div>