.channel {
  margin-bottom: 10px;

  .field-value {
    margin-left: 10px;
    width: 250px;
  }

  .field-label {
    width: 100px;
  }

  mat-form-field {
    background-color: #fff;
  }

  .drag-handle {
    display: flex;
    cursor: pointer;
  }
}