@if (disabled) {
  @if (taskType) {
    <app-task-type-chip [taskType]="taskType"></app-task-type-chip>
  }
} @else {
  <button
    mat-icon-button
    type="button"
    [fsMenuTriggerFor]="menu">
    @if (taskType) {
      <app-task-type-chip [taskType]="taskType"></app-task-type-chip>
    }
    @if (!taskType) {
      <mat-icon [style.color]="'#cccccc'">
        help
      </mat-icon>
    }
  </button>
  <fs-menu #menu>
    @for (taskTypeItem of taskTypes; track taskTypeItem) {
      @if (taskTypeItem.id !== taskType?.id) {
        <ng-template
          fs-menu-item
          (click)="change(taskTypeItem)">
          <app-task-type-chip [taskType]="taskTypeItem"></app-task-type-chip>
          {{ taskTypeItem.name }}
        </ng-template>
      }
    }
    <ng-template fs-menu-divider-item></ng-template>
    <ng-template
      fs-menu-item
      (click)="openManage()">
      <mat-icon>
        settings
      </mat-icon>
      Manage
    </ng-template>
  </fs-menu>
}