:host {
  ::ng-deep {
    @import '../../../../styles/mention';
  }
}

.buttons {
  padding: 10px 0 15px;
  position: sticky;
  bottom: 0;
  background: #fff;
  z-index: 1;
}

form {
  height: auto;
}