<form
    fsForm
    [submit]="submit">
  <fs-html-editor
    class="description"
    [(ngModel)]="description"
    [config]="htmlEditorConfig"
    name="description">
  </fs-html-editor>
  <ng-container *ngIf="htmlEditor.initialized">
    <div class="fs-row.gap-xs buttons">
      <button
          mat-flat-button
          type="submit"
          color="primary">
        Save
      </button>
      <button
          (click)="cancel()"
          mat-flat-button
          type="button">
        Cancel
      </button>
    </div>
  </ng-container>
</form>