<fs-list [config]="listConfig">
  <fs-list-column>
    <ng-template
        fs-list-cell
        let-row="row">
      <div class="fs-row.gap-sm">
        <!-- <app-activity-object-type
          [color]="'#2DB2A1'"
          [icon]="'note'">
        </app-activity-object-type> -->
        <div>
          <a (click)="openDialog(row)">
            <b>
              {{ row.title || 'Untitled' }}
            </b>
          </a>
          <div class="small">
            {{ row.modifyAccount?.name }}
            &middot;
            <fs-date-ago [date]="row.modifyDate"></fs-date-ago>
          </div>
        </div>
      </div>
      <div class="note-content">
        <fs-html-renderer [html]="row.crmNoteVersion?.content"></fs-html-renderer>
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>