<ng-container *fsSkeletonForm="crmLead">
  <form
      fsForm
      [submit]="submit$">
    <div class="fs-row.gap-lg.align-start full-width">
      <div class="fs-column">
        <h2>
          Personal information
        </h2>
        <div class="fs-row.gap-sm">
          <mat-form-field class="full-width">
            <mat-label>
              First name
            </mat-label>
            <input
              matInput
              name="firstName"
              [(ngModel)]="crmLead.firstName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>
              Last name
            </mat-label>
            <input
              matInput
              name="lastName"
              [(ngModel)]="crmLead.lastName">
          </mat-form-field>
        </div>
        <div class="fs-row.gap-md.align-start">
          <div class="full-width">
            <fs-label>
              Email addresses
            </fs-label>
            <app-crm-channels
              [(channels)]="crmLead.emailCrmChannels"
              (channelsChange)="formDirty()"
              [type]="'email'">
            </app-crm-channels>
          </div>
          <div class="full-width">
            <fs-label>
              Phone numbers
            </fs-label>
            <app-crm-channels
              [(channels)]="crmLead.phoneCrmChannels"
              (channelsChange)="formDirty()"
              [type]="'phone'">
            </app-crm-channels>
          </div>
        </div>
        <!-- <fs-field-renderer [config]="fieldConfig"></fs-field-renderer> -->
        <div class="fs-row.gap-xs buttons">
          <button
              mat-flat-button
              color="primary"
              type="submit">
            Save
          </button>
          <a
              mat-icon-button
              (click)="customizeLeadField()">
            <mat-icon>
              settings
            </mat-icon>
          </a>
        </div>
      </div>
      <div class="fs-row full-width">
        <div class="fs-column full-width">
          <h2>
            Lead details
          </h2>
          <!-- <app-lead-status
            [(ngModel)]="crmLead.statusAttribute"
            (ngModelChange)="crmLead.statusAttributeId = $event.id"
            name="statusAttribute">
          </app-lead-status>
          <app-lead-assigned-account
            [(ngModel)]="crmLead.assignedAccount"
            (ngModelChange)="crmLead.assignedAccountId = $event.id"
            name="assignedAccount">
          </app-lead-assigned-account>
          <app-lead-source
            [(ngModel)]="crmLead.sourceAttribute"
            (ngModelChange)="crmLead.sourceAttributeId = $event.id"
            name="sourceAttribute">
          </app-lead-source> -->
          <mat-form-field>
            <mat-label>
              Value
            </mat-label>
            <input
              matInput
              [(ngModel)]="crmLead.value"
              name="value">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</ng-container>