::ng-deep {
  @import '../../../../styles/mention';
}

fs-html-editor {
  ::ng-deep {
    .field-bottom-margin .field-message {
      min-height: unset !important;
    }
  }
}

.comment-placeholder {
  .comment-placeholder-text {
    color: #aaa;
    margin-left: 10px;
  }
}

fs-file {
  position: relative;
  z-index: 100;
}

fs-file-previews {
  margin-bottom: .75em;
}

.buttons {
  padding: 10px 0 15px;
  position: sticky;
  bottom: 0;
  background: #fff;
  z-index: 1;
}