.top-toolbar {
  width: 100%;

  app-task-type-select {
    margin-right: 2px;
  }

  .task-number {
    white-space: nowrap;
    margin-right: 10px;
  }

  .task-name {
    width: 100%;
    margin: 0;
  }
}

.bottom-toolbar {
  margin: 15px 0;
}

mat-tab-group {
  margin-top: 15px;
}


:host {
  ::ng-deep {
    .mat-mdc-dialog-content {
      max-height: none;
    }

    .mat-mdc-tab-body-wrapper {
      overflow: visible !important;
  
      .mat-mdc-tab-body.mat-mdc-tab-body-active {
        overflow: visible !important;
  
        .mat-mdc-tab-body-content {
          overflow: visible !important;
        }
      }
    }
  }
}

.subject-field {
  margin-right: 25px;
  
  fs-label {
    line-height: normal;
  }

  .add {
    position: absolute;
    right: -25px;
  }
}

.due-date {
  width: 180px;

  &:not(.mat-focused):not(:hover) {
    ::ng-deep {
      .mat-form-field-outline-start,
      .mat-form-field-outline-end,
      .mat-form-field-outline-gap {
        border-color: transparent;
      }

      .fs-clear-wrapper {
        display: none;
      } 
    }
  }
}

.description:not(.initialized) {
  margin: 0 10px;
}

app-task-comment {
  margin-bottom: 20px;
  display: block;
}