<fs-list [config]="listConfig">
  <fs-list-column
    [sortable]="false"
    width="1%">
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.taskType) {
        <app-task-type-chip [taskType]="row.taskType"></app-task-type-chip>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column
    title="Status"
    [sortable]="false"
    width="1%">
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.taskStatus) {
        <app-task-status-chip [taskStatus]="row.taskStatus"></app-task-status-chip>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column
    title="Assigned"
    [sortable]="false"
    width="1%">
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.assignedAccount) {
        <app-task-assigned-account-chip [assignedAccount]="row.assignedAccount"></app-task-assigned-account-chip>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="name"
    title="Name"
    [sortable]="false">
    <ng-template
      fs-list-cell
      let-row="row">
      <div class="fs-row.gap-xs.wrap">
        @if (row.state !== 'deleted') {
          @if (row.taskRouterLink) {
            <a [routerLink]="row.taskRouterLink">
              <ng-container *ngTemplateOutlet="name"></ng-container>
            </a>
          }
          @if (!row.taskRouterLink) {
            <a (click)="openDialog(row)">
              <ng-container *ngTemplateOutlet="name"></ng-container>
            </a>
          }
        } @else {
          {{ row.name || 'Untitled' }}
        }
        <ng-template #name>
          {{ row.name || 'Untitled' }}
        </ng-template>
        @if (row.priority) {
          <app-priority-chip [priority]="row.priority"></app-priority-chip>
        }
      </div>
      <div class="fs-row.wrap.gap-xs">
        <div class="small">
          {{ row.identifier }}
        </div>
        @for (taskTag of row.taskTags; track taskTag) {
          <fs-task-tag-chip [taskTag]="taskTag"></fs-task-tag-chip>
        }
      </div>
    </ng-template>
  </fs-list-column>
  <fs-list-column
    [title]="config.subjectObject?.label"
    [show]="config.subjectObject?.show">
    <ng-template
      fs-list-cell
      let-row="row">
      @if (row.subjectObject) {
        <fs-chip
          [size]="'small'"
          [image]="row.subjectObject.imageUrl"
          (click)="openObject(row)">
          {{ row.subjectObject.name }}
        </fs-chip>
      }
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="due_date"
    title="Due"
    [sortable]="true"
    [sortableDirection]="'desc'">
    <ng-template
      fs-list-cell
      let-row="row">
      {{ row.dueDate | date }}
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="modify_date"
    title="Modified"
    [sortable]="true"
    width="1%"
    [sortableDirection]="'desc'"
    [sortableDefault]="true">
    <ng-template
      fs-list-cell
      let-row="row">
      <div class="fs-row.gap-xs.nowrap small modify-date">
        @if (row.modifyAccount?.avatar) {
          <fs-badge
            [size]="25"
            [tooltip]="row.modifyAccount.name"
            [image]="row.modifyAccount.avatar.small">
          </fs-badge>
        }
        <fs-date-ago [date]="row.modifyDate"></fs-date-ago>
      </div>
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="create_date"
    title="Created"
    [sortable]="true"
    width="1%"
    [sortableDirection]="'desc'">
    <ng-template
      fs-list-cell
      let-row="row">
      <div class="fs-row.gap-xs.nowrap small create-date">
        @if (row.createAccount?.avatar) {
          <fs-badge
            [size]="25"
            [tooltip]="row.createAccount.name"
            [image]="row.createAccount.avatar.small">
          </fs-badge>
        }
        <fs-date-ago [date]="row.createDate"></fs-date-ago>
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>