<fs-dialog [mode]="'stretch'">
  <mat-dialog-content>
    <ng-container *fsSkeleton="task">
      <fs-task
          [task]="task"
          [config]="config">
        <ng-template
            fsTaskTopToolbar
            let-template="$implicit">
          <ng-container *ngTemplateOutlet="template"></ng-container>
          <a
              mat-icon-button
              (click)="close()">
            <mat-icon>
              close
            </mat-icon>
          </a>
        </ng-template>
      </fs-task>
    </ng-container>
  </mat-dialog-content>
</fs-dialog>