.task {
  position: relative;
  padding-left: 30px;
  
  .task-name {  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  fs-activity-object-type {
    position: absolute;
    left: 0;
  }
}
