<form
    fsForm
    [submit]="save">
  <fs-dialog>
    <ng-container *fsSkeletonForm="taskType">
      <div mat-dialog-title>
        {{ taskType.id ? 'Edit' : 'Create' }} task type
      </div>
      <mat-dialog-content>
        <div
            class="fs-column"
            *fsSkeletonForm="taskType">
          <mat-form-field>
            <mat-label>
              Name
            </mat-label>
            <input
              matInput
              [(ngModel)]="taskType.name"
              name="name"
              fsFormRequired>
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              Icon
            </mat-label>
            <input
              matInput
              fsIconPicker
              [(ngModel)]="taskType.icon"
              name="icon"
              fsFormRequired>
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              Color
            </mat-label>
            <input
              matInput
              fsColorPicker
              [(ngModel)]="taskType.color"
              name="color"
              fsFormRequired>
          </mat-form-field>
          <fs-autocomplete-chips
              [fetch]="fetchTaskWorkflows"
              [(ngModel)]="taskType.taskWorkflow"
              (ngModelChange)="taskType.taskWorkflowId = $event?.id"
              [floatLabel]="'always'"
              label="Workflow"
              placeholder="None"
              size="small"
              [multiple]="false"
              name="taskWorkflow">
            <ng-template
                fsAutocompleteChipsTemplate
                let-object="object">
              {{ object.name }}
            </ng-template>
            <ng-template
                fsAutocompleteChipsStatic
                (click)="manageTaskWorkflows()">
              Manage
            </ng-template>
          </fs-autocomplete-chips>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button
            mat-button
            type="submit"
            color="primary">
          {{ taskType.id ? 'Save' : 'Create' }}
        </button>
        <button
            mat-button
            mat-dialog-close
            type="button">
          Cancel
        </button>
      </mat-dialog-actions>
    </ng-container>
  </fs-dialog>
</form>