<fs-list [config]="listConfig">
  <fs-list-column
      [sortable]="false"
      width="1%">
    <ng-template
        fs-list-cell
        let-row="row">
      @if (leadRouterLink) {
        <a [routerLink]="[this.leadRouterLink, row.id]">
          {{ row.firstName + ' ' + row.lastName }}
        </a>
      } @else {
        <a (click)="openDialog(row)">
          {{ row.firstName + ' ' + row.lastName }}
        </a>
      }
      <div class="small">
        {{ row.id }}
      </div>
    </ng-template>
  </fs-list-column>
  @for (field of fields; track field.guid) {
    <fs-list-column [title]="field.label">
      <ng-template
          fs-list-cell
          let-row="row">
        @if (row.fields[field.guid]) {
          <!-- <fs-field-view
            [field]="field"
            [data]="row.fields[field.guid]">
          </fs-field-view> -->
        }
      </ng-template>
    </fs-list-column>
  }
  <fs-list-column
      name="modify_date"
      title="Modified"
      [sortable]="true"
      width="1%"
      [sortableDirection]="'desc'"
      [sortableDefault]="true">
    <ng-template
        fs-list-cell
        let-row="row">
      <div class="small modify-date">
        <fs-date-ago [date]="row.modifyDate"></fs-date-ago>
      </div>
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="create_date"
      title="Created"
      [sortable]="true"
      width="1%"
      [sortableDirection]="'desc'">
    <ng-template
        fs-list-cell
        let-row="row">
      <div class="small create-date">
        <fs-date-ago [date]="row.createDate"></fs-date-ago>
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>