.client-checkbox {
  display: flex;
  padding: 3px 0;
  align-items: center;
  padding: 4px 10px;

  a {
    color: inherit;
  }
  
  mat-checkbox {
    margin-right: 5px;
  }
}

fs-list {
  ::ng-deep {
    td {
      padding: 0 !important;
    }

    .fs-list-table-container {
      overflow: hidden !important;
    }
  }
}
