<ng-container *ngFor="let activity of activities">
  <div class="activity">
    <div class="header">
      <fs-activity-object-type
        [color]="activity.objectType.color"
        [icon]="activity.objectType.icon">
      </fs-activity-object-type>
      <div>
        <div class="header-description">
          <span class="object-type-name">
            {{ activity.objectType.name }}
          </span>
          @if (activity.action === 'changeData' || activity.action === 'changeObject') {
            {{ activity.activityType.name }}
        changed
          } @else {
            added
          }
        </div>
        <div class="header-creator small">
          @if (activity.creatorObject) {
            {{ activity.creatorObject.name }}
            &middot;
          }
          <fs-date-ago [date]="activity.createDate"></fs-date-ago>
        </div>
      </div>
      <a
          [fsMenuTriggerFor]="menu"
          mat-icon-button
          class="menu">
        <mat-icon>
          more_vert
        </mat-icon>
      </a>
      <fs-menu #menu>
        <ng-template
            fs-menu-item
            (click)="activityDelete(activity)">
          Delete
        </ng-template>
      </fs-menu>
    </div>
    <div class="content">
      <ng-container *ngIf="activity.concretePreviousActivityObject">
        <div class="previous-object">
          <ng-container
            [ngTemplateOutlet]="objectPreview"
            [ngTemplateOutletContext]="{ activity: activity, object: activity.concretePreviousActivityObject }">
          </ng-container>
          <mat-icon>
            east
          </mat-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="activity.concreteActivityObject">
        <ng-container
          [ngTemplateOutlet]="objectPreview"
          [ngTemplateOutletContext]="{ activity: activity, object: activity.concreteActivityObject }">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!activity.concreteActivityObject && !activity.concretePreviousActivityObject">
        <ng-container *ngIf="activity.previousActivityData?.value">
          <div class="previous-object">
            <ng-container
              [ngTemplateOutlet]="dataPreview"
              [ngTemplateOutletContext]="{ activity: activity, data: activity.previousActivityData }">
            </ng-container>
            <mat-icon>
              east
            </mat-icon>
          </div>
        </ng-container>
        <ng-container
          [ngTemplateOutlet]="dataPreview"
          [ngTemplateOutletContext]="{ activity: activity, data: activity.activityData }">
        </ng-container>
      </ng-container>
      <ng-template
          #dataPreview
          let-activity="activity"
          let-data="data">
        @if (this.activityData) {
          <ng-container
            [ngTemplateOutlet]="this.activityData"
            [ngTemplateOutletContext]="{ activity: activity, data: data }">
          </ng-container>
        } @else {
          {{ data }}
        }
      </ng-template>
      <ng-template
          #objectPreview
          let-activity="activity"
          let-object="object">
        @if (this.activityObject) {
          <ng-container
            [ngTemplateOutlet]="this.activityObject"
            [ngTemplateOutletContext]="{ activity: activity, object: object }">
          </ng-container>
        } @else {
          {{ object.name }}
        }
      </ng-template>
    </div>
  </div>
</ng-container>