<form
    fsForm
    [submit]="submit">
  <fs-dialog>
    <div mat-dialog-title>
      Lead form
    </div>
    <div mat-dialog-content>
      <ng-container *fsSkeleton="fields">
        <div class="fs-column">
          <fs-label-field>
            <fs-label>
              Standard fields
            </fs-label>
            <div class="fs-column">
              <mat-checkbox
                  [(ngModel)]="includeName"
                  name="includeName">
                Name
              </mat-checkbox>
              <mat-checkbox
                  [(ngModel)]="includeEmail"
                  name="includeEmail">
                Email
              </mat-checkbox>
              <mat-checkbox
                  [(ngModel)]="includePhone"
                  name="includePhone">
                Phone
              </mat-checkbox>
            </div>
          </fs-label-field>
          <fs-checkbox-group
              name="fields"
              [(ngModel)]="selectedFields"
              [label]="'Custom fields'">
            @for (field of fields; track field) {
              <mat-checkbox [value]="$any(field)">
                {{ field.label }}
              </mat-checkbox>
            }
          </fs-checkbox-group>
          <mat-form-field>
            <mat-label>
              After submit URL
            </mat-label>
            <input
              matInput
              required
              fsFormUrl
              [(ngModel)]="redirectUrl"
              name="redirectUrl">
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div mat-dialog-actions>
      <button
          mat-button
          type="submit"
          color="primary">
        Copy form to clipboard
      </button>
      <button
          mat-button
          mat-dialog-close
          type="button">
        Cancel
      </button>
    </div>
  </fs-dialog>
</form>