<form
    fsForm
    [submit]="save"
    *fsSkeletonForm="crmLog"
    [dirtySubmitButton]="false">
  <fs-dialog>
    <div mat-dialog-title>
      {{ crmLog.id ? '' : 'Create' }} Log
    </div>
    <div mat-dialog-content>
      <div class="fs-column">
        <mat-form-field>
          <mat-label>
            Type
          </mat-label>
          <mat-select
              [(ngModel)]="crmLog.type"
              name="type">
            <mat-option
                *ngFor="let item of types"
                [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <fs-html-editor
          [(ngModel)]="crmLog.notes"
          name="notes">
        </fs-html-editor>
      </div>
    </div>
    <div mat-dialog-actions>
      <fs-form-dialog-actions [create]="!crmLog.id"></fs-form-dialog-actions>
    </div>
  </fs-dialog>
</form>